<div class="jumbotron">
  <h1 class="display-4">
    <%= @article.title %>
  </h1><br>
  <p class="lead">
    <%= @article.body %>
  </p>
  <br>
  <%= link_to "Edit", edit_article_path(@article), class:"btn btn-secondary" %> 
  <%= link_to "Back", :back, class:"btn btn-dark" %>
  <%= link_to "Delete this article", @article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-danger" %>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Comments</h5>
    <%= render @article.comments %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header bg-primary text-light">
    <h4>Add a comment:</h4>
  </div>
  <div class="card-body">
    <%= render 'comments/form' %>
  </div>
</div>
<br><br><br>


